/* Base tab styling */
.tab-button {
  position: absolute;
  width: 40px;
  height: 60px;
  background-image: url('/static/parchment_tab.png');
  background-size: cover;
  border: none;
  color: #fff;
  font-family: 'Astloch', cursive;
  font-size: 14px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: center;
  line-height: 1.1;
  cursor: pointer;
  padding: 0;
  z-index: 4;
}

.tab-button.active {
  background-image: url('/static/parchment_tab_active.PNG');
}

/* Hints tab fixed styling */
.tab-hints {
  left: calc(5%);
  top: 11.5%;
  transform: translateX(-100%) scaleY(2);
  transform-origin: top center;
  background-image: url('/static/parchment_tab_active.PNG');
  pointer-events: none;
  z-index: 4;
}

.tab-hints span {
  transform: rotate(180deg);
}

/* Hide tab from tab flipping logic */
.tab-hints.flipped {
  transform: translateX(-100%) scaleY(2);
  left: calc(5%);
}