<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Elysiad</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Cedarville+Cursive&family=UnifrakturCook&display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="max-w-3xl mx-auto mt-4">
              {% for category, message in messages %}
                <div class="mb-2 p-4 rounded-xl text-white {{ 'bg-red-600' if category == 'error' else 'bg-green-600' }}">
                  {{ message }}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>