<!DOCTYPE html>
<html>
<head>
    <title>Elysiad Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <h1>Elysiad Dashboard</h1>
    <div class="card">
        <b>Current Global Event:</b> {{ global_event or "None" }}
        <br><b>Time to next event:</b> {{ time_left }}
        <br><a href="/lore_index">Lore Index</a>
    </div>
    <h2>All Players</h2>
    <ul>
    {% for user in users %}
        <li>
            <a href="/stat_sheet/{{ user['username'] }}">{{ user['username'] }}</a>
            (Ch. {{ user['Story']['chapter'] }} | Sc. {{ user['Story']['scene'] }})
        </li>
    {% endfor %}
    </ul>
    <a href="/adventure">Go to your adventure!</a>
    <br><a href="/logout">Logout</a>
</div>
</body>
</html>
