<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Elysiad - Begin</title>
  <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap" rel="stylesheet">
  <style>
    html {
      background: url('/static/rainy_study.jpg') center center/cover no-repeat fixed;
      height: 100%;
    }
    body {
      margin: 0;
      font-family: 'IM Fell English', serif;
      height: 100%;
      background: transparent;
    }
  </style>
</head>
<body>
</body>
</html>